
 *{
        font-family: 'Jua', sans-serif;
    }
    #body{
    	width: 100%;
    }
    /*↓메뉴 관련*/
    #header{
        width: 20%;
        height: 50px;
    }
    .logo{
        width: 100%;
    }
	#header,#nav{
		float: left;
	}

	#nav{
		height: 50px;
		width: 75%;
        margin-left: 25px;
		margin-top: 25px;
	}
	#nav ul{
		list-style-type: none;
		margin: 0px;
		padding: 0px;
	}
	#menu{
        width: 70%;
        position: relative;
        z-index: 1;
    }
	#nav ul li{
		float: left;
		line-height: 50px;
		vertical-align: middle;
		text-align: center;
		position: relative;
	}
	.submenuLink, .topmenuLink{
		text-decoration: none;
		display: block;
		width: 160px;
		font-size: 20px;
		font-weight: bold;
	}
	.topmenuLink{
		color: black;
		font-size: 26px;
	}

	.topmenu:hover .topmenuLink{
		padding-bottom: 28px;
		border-bottom:3px solid black;
	}

	.longlink{
		width: 200px;
	}

	.submenuLink{
        color: black;
		background-color: white;
		border: 2px solid lightgray;
		border-radius: 3px;
	}
	.submenu{
		position: absolute;
		height: 0px;

		overflow: hidden;
		width: 800px;
	}
	.submenu li{
		display: inline-block;
	}
	.topmenu:hover .submenu{
		height: 70px;
	} 
	.submenuLink:hover {
		color: lightgray;
	}
    /*↑메뉴 관련*/
    /*↓로그인 메뉴쪽*/
    #login{
        width: 25%;
        height: 50px;
        display: inline-block;
        text-align: center;
    }
    .in{
        text-decoration: none;
        color: black;
        line-height: 50px;
        vertical-align: middle;
        font-size: 20px;
    }
    .identity{
        height: 100%;
    }
    .temp1{
        width: 100%;
        height: 25px;
    }
    .temp2{
        width: 33%;
        height: 25px;
        float: left;
    }
    .temp3{
        width: 33%;
        height: 25px;
        float: left;
    }
    .temp4{
        width: 33%;
        height: 25px;
        float: left;
    }
    /*↑로그인 메뉴쪽*/
	.bar{
		border: 1px solid lightgray;
		margin: 0px;
		padding: 0px;
	}
    /*↓풋터 관련*/
    #footer{
        width: 100%;
        height: 100px;
        display: block;
    }
    .footer1{
        width: 15%;
        display: inline-block;
    }
    .footer2{
        width: 10%;
       display: inline-block;
    }
    .footer3{
        width: 55%;
         display: inline-block;
    }
    .footer4{
        width: 15%;
         display: inline-block;
    }
    .footerlogo{
        width:100%;
        float:left;
        padding-bottom: 10px;
    }
    /*↑풋터 관련*/
    /*↓article(내용) 관련*/
    #article{
    	width: 100%;
    }
    #container{
    	width: 1080px;
    	margin: 0px auto;
    	align-content: center;
    }

    .slider{
    	display: block;
    	align-content: center;
    	z-index: -1;
    }
    .bx-wrapper{
    	margin: 0px auto;
    }
    /*↑article(내용) 관련*/
    /*↓navigator(뎁스) 관련*/
    .navigator{
    	font-size: 20px;
    }
    .deps{
    	color: lightgray;
    }
    .final{
    	color: black;
    }
    /*navigator(뎁스) 관련*/